.filter-tools{
  display:flex;
  height:30px;
  justify-content: center;
  background:lightgray;
  align-items: center;
}

#book-type{
  width:200px;
  margin-left:5px;
  
}

#print-type{
  width:100px;
  margin-right:50px;
  margin-left:5px;
}
